<!doctype html>
{% load static %}
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body class="font-monospace">
  
    <!-- place navbar here -->
    <div class="card align-items-center   alert alert-success">
    <img src="{% static 'imagenes/logo.jpg' %}" class="rounded-start p-3  " width="400" alt="...">
    <div class="container alert alert-success">
      <div class="card text-center vh-100 row m-0 text-center align-items-center justify-content-center">
        <div class="card-body alert alert-success">
          {% if archivo_nombre %}
            <h2>Archivo transformado con exito :</h2>
            <p>El archivo transformado es : {{ archivo_nombre }}</p>

            {% if tiempo_transcurrido is not None %}
              <p>Tiempo Transcurrido: {{ tiempo_transcurrido|floatformat:2 }} segundos</p>
              <p>Da click :{{ csv_output_path }}</p>
              <a href="{% url 'descargar' %}"  class="btn btn-primary">Descargar archivo CSV</a> 
            {% endif %}
        {% endif %}
        <div class="alert alert-success" role="alert">
          <a href="{% url 'inicio' %}"  class="btn btn-primary" >Volver a utilizar.</a>
        </div>
        </div>
      </div>
    </div>
    
  <main>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>