<!doctype html>
{% load static %}
<html lang="es">

<head>
  <title>Inicio</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- Instalando las librerias -->
</head>
<body class=" alert alert-success  font-monospace">
  <div class="card align-items-center   alert alert-success">
    <img src="{% static 'imagenes/logo.jpg' %}" class="rounded-start p-3  " width="400" alt="...">
    <div class="  text-center align-items-center justify-content-center border border-secondary border-5">
      <div class="col-auto">
        <div class="card text-center">
          <div class="card-header bg-success">
            <h1 class="card-title p-3 font-monospace"> <b> TRANSFORMAR ARCHIVO PDF A ARCHIVO EN EXCEL</b> </h1>
          </div>
          <div class="card-body alert alert-success">
            <div class="container ">
              <h5 class="font-monospace">Buscar Archivo :</h5>
              <form class="text-center p-4" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary p-3 border border-secondary border-4 " type="submit"><strong>Transformar archivo</strong></button>
              </form>
            </div>
            {% if messages %}
            <div class="container ">
              <div class="row ">
                <div class="col-md-6 offset-md-3 ">
                  {% for message in messages %}
                  <div class="alert {{ message.tags }} alert-dismissible fade show border border-secondary border-4" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
 




  

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>